.simplify-your-design-process-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.margin-0-auto {
  margin: 0 auto !important;
}

.title {
  margin-bottom: 3rem;
  color: var(--landing-page-title);
}
