.landing-button {
  font-family: Roboto, sans-serif !important;
  border-radius: 5px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.625rem;
  font-weight: 700;
  font-size: 1.125rem;
  width: 180px;
  min-width: fit-content;
  padding-bottom: 0.625rem;
  display: inline-block;
  font-size: 1.125rem;
  transition: all 300ms ease-out;
  box-shadow: 2px 2px 12.2px 0px #0f403242;
}

.landing-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* primary outlined */

.landing-button-primary-outlined {
  background: transparent;
  border: 2px solid var(--landing-page-button-outlined-background-primary);
  color: var(--landing-page-button-outlined-background-primary);
}

.landing-button-primary-outlined:hover {
  background: var(--landing-page-button-outlined-background-primary-hover);
}

/* secondary outlined */

.landing-button-secondary-outlined {
  background: var(--landing-page-button-outlined-background-secondary);
  border: 2px solid var(--landing-page-color-secondary);
  color: var(--landing-page-color-secondary);
}

.landing-button-secondary-outlined:hover {
  background: var(--landing-page-button-outlined-background-secondary-hover);
}

/* secondary default */

.landing-button-secondary-default {
  border-width: 0;
  background: var(--landing-page-button-default-background-secondary);
  color: var(--landing-page-color-secondary-contrast);
}

.landing-button-secondary-default:hover {
  background: var(--landing-page-button-default-background-secondary-hover);
}

/* primary default */

.landing-button-primary-default:hover {
  opacity: 0.8;
  background: var(--landing-page-button-default-background-primary-hover);
}

.landing-button-primary-default {
  border-width: 0;
  color: var(--landing-page-color-primary-contrast);
  background: var(--landing-page-button-default-background-primary);
}
