.landing-button {
  font-family: Roboto, sans-serif !important;
  border-radius: 5px;
  width: 180px;
  min-width: fit-content;
  padding: 0.8rem 0.6rem;
  display: inline-block;
  transition: all 300ms ease-out;
  box-shadow: var(--landing-page-button-shadow);
  border-width: 2px;
  border-style: solid;
}

.landing-button:hover {
  font-family: Roboto, sans-serif !important;
  transform: scale(1.05);
  cursor: pointer;
}

/* primary outlined */

.landing-button-primary-outlined {
  background: transparent;
  border-color: var(--landing-page-button-outlined-background-primary);
  color: var(--landing-page-button-color-secondary);
  fill: var(--landing-page-button-color-secondary);
}

.landing-button-primary-outlined:hover {
  background: var(--landing-page-button-outlined-background-primary-hover);
  color: var(--landing-page-button-color-primary);
  fill: var(--landing-page-button-color-primary);
}

/* secondary outlined */

.landing-button-secondary-outlined {
  background: var(--landing-page-button-outlined-background-secondary);
  border-color: var(--landing-page-button-outlined-background-secondary);
  color: var(--landing-page-button-color-third);
  fill: var(--landing-page-button-color-third);
}

.landing-button-secondary-outlined:hover {
  background: var(--landing-page-button-outlined-background-secondary-hover);
}

/* secondary default */

.landing-button-secondary-default {
  background: var(--landing-page-button-default-background-secondary);
  border-color: var(--landing-page-button-default-background-secondary);
  color: var(--landing-page-button-color-primary);
  fill: var(--landing-page-button-color-primary);
}

.landing-button-secondary-default:hover {
  background: var(--landing-page-button-default-background-secondary-hover);
  border-color: var(--landing-page-button-default-background-secondary-hover);
}

/* primary default */

.landing-button-primary-default:hover {
  background: var(--landing-page-button-default-background-primary-hover);
}

.landing-button-primary-default {
  border-width: 0;
  color: var(--landing-page-button-color-primary);
  fill: var(--landing-page-button-color-primary);
  background: var(--landing-page-button-default-background-primary);
  padding: calc(0.8rem + 2px) calc(0.6rem + 2px);
}
