.home-page-header-section {
  background: var(--landing-page-secondary-background-gradient);
}

.margin-0-auto {
  margin: 0 auto !important;
}

.title {
  color: var(--landing-page-title);
}

.try-for-free-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
