.home-page-footer {
  box-shadow: var(--landing-page-footer-shadow);
}

.home-page-footer h2,
.home-page-footer h4 {
  color: var(--landing-page-title);
}

a.home-page-footer-link {
  text-decoration: none;
  color: inherit;
}

.social-media-icon {
  transition: all 200ms ease-in-out;
}

.social-media-icon:hover {
  transform: scale(1.1);
}

.margin-0-auto {
  margin: 0 auto;
}

.home-page-footer-column {
  flex: 1;
  min-width: 8rem;
}

.about {
  min-width: 18rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-started {
  max-width: 22rem;
}

.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-started-buttons {
  display: flex;
  flex-direction: row;
}

.try-for-free-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
