.our-partners-section {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
  background-color: var(--landing-page-background-color-4);
}

.title {
  margin-bottom: 5rem;
  color: var(--landing-page-title-color)
}

.logo-container {
  display: flex;
  justify-content: space-around;
}
